@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Roboto+Mono&family=Share+Tech+Mono&family=VT323&display=swap');
:root {
    --vt323: 'VT323', monospace;
    --smono: 'ShareTechMono', monospace;
    --rmono: 'Roboto Mono', monospace;
    --cprime: 'Courier Prime', 'Courier New', monospace;
    --Inconsolata: 'Inconsolata', monospace;
    --green: #5bf870;
    --green2: rgba(128,255,128,0.8);
    --dark-green: #131;
    --rad-green: radial-gradient(ellipse 1000% 100% at 50% 90%, transparent, #121);
    --screen-line: repeating-linear-gradient( 0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px);
    --term-start: ">";
    --term-cursor: "█";
}
*{
    background:
}
.type {
    word-break: break-all;
}

body {
    font-family: var(--vt323);
    background-color: #131;
    color: var(--green);
    margin: 0;
    background-image: radial-gradient(ellipse 1000% 100% at 50% 90%, transparent, #121);
    background-position: center;
    display: block;
}
.term-main{

}
.term-main::before{

}
.term-main::after{

}
/* page style */
main {
    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    
}
/* header style */
header{
    width: 100%;
    margin-bottom: 15px;
    font-size: 2em;
}
/* nav style */

/* main style */

/* text styles */

h1{
    text-align: center;
}
h2{

}
h3{

}
h4{

}
p{
    font-size: 16px;
    
}
blockquote{

}
a{
    text-decoration: underline;

}
a:hover{
    background-color: var(--green);
    color: var(--dark-green);
}
a:hover::before{
    content: ">";
}
/* style */

/* style */

/* style */